body {
    background-color: black;
    font-family: "Bebas Neue", sans-serif;
  }
  
  main {
    display: flex;
    justify-content: space-evenly;
    background-image: url(red-candles.jpg);
    background-size: 200px 200px;
    border-radius: 20px;
  }
  #logo {
    font-size: 4em;
    font-family: "Bebas Neue", sans-serif;
  }
  
  header {
    display: flex;
    box-sizing: border-box;
    margin: 0 auto;
    width: 1136px;
    max-width: 100%;
    justify-content: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 40px #e50914;
    background-color: black;
    margin-top: 20px;
  }
  
  h1 {
    color: #e50914;
  }
  nav ul {
    display: flex;
    list-style-type: none;
  }
  
  nav ul li {
    margin: 0 10px;
  }
  
  nav ul li a {
    color: #000;
    text-decoration: none;
    list-style-type: none;
  }
  
  .div-container {
    display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  }
  
  .movie-card {
    width: 250px;
    height: 250px;
    border: 7px solid black;
    /* padding: 50px; */
    padding-top: 5px;
    padding-left: 50px;
    padding-bottom: 300px;
    padding-right: 50px;
    margin: 10px;
    background-color: #e50914;
    opacity: 0.9;
  }
  
  .recipe-card {
    width: 250px;
    height: 250px;
    border: 7px solid black;
    /* padding: 50px; */
    padding-top: 5px;
    padding-left: 50px;
    padding-bottom: 300px;
    padding-right: 50px;
    margin: 10px;
    background-color: #e50914;
    opacity: 0.9;
  }
  .btn-food-group {
    color: white;
    cursor: pointer;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .btn-container {
    display: flex;
    justify-content: center;
  }
  button:active {
    background-color: #e50914;
  }
  #generate-btn {
    background-color: #e50914;
    color: white;
    padding: 0px 32px;
    font-size: 35px;
    cursor: pointer;
    margin-top: 15px;
    border-radius: 0%;
  }
  
  button {
    border-radius: 20%;
    margin-bottom: 15px;
    
    font-family: "Bebas Neue", sans-serif;
    border-radius: 0%;
    font-size: 1em;
  }
  
  .columns-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  #movies-container {
    margin: 10px;
  }
  #recipes-container {
    margin: 10px;
  }
  #movies-head {
    text-align: center;
  }
  
  #recipes-head {
    text-align: center;
  }
  
  #reset-btn-container {
    display: flex;
    justify-content: center;
  }
  
  #reset-btn {
    background-color: #e50914;
    color: white;
    padding: 0px 32px;
    font-size: 35px;
    cursor: pointer;
    border-radius: 0%;
  }
  
  
  .section-body {
    padding: 20px 0;
  }
  .ss-container {
    display: flex;
  }
  footer {
    background-color: #e50914;
    text-align: center;
  }