/* .card-img-top {
    width: 286px;
    height: 400px;
} */

#movies-Container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card-body{
    height: 120px;
    width: 286px;
    /* height: 100%;
    width: 100%; */
}

.btn{
    background-color: #e50914;
    color: white;
}

/* .card-container{
    height: auto;
    width: 30%;
} */



