main {
  border-color: black;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  background-image: url(red-candles.jpg);
  opacity: 0.9;
  background-size: 200px 200px;
  margin: 0;
}

header {
  background-color: lightcoral;
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
  padding: 0 50px;
  width: 1136px;
  max-width: 100%;
}

.div-container {
  border-color: black;
  border: 10px;
}

.movie-card {
  width: 250px;
  height: 250px;
  border: 7px solid white;
  padding: 50px;
  margin: 10px;
  background-color: #8d3b72;
  opacity: 0.9;
}

.recipe-card {
  width: 250px;
  height: 250px;
  border: 7px solid white;
  padding: 50px;
  margin: 10px;
  background-color: #8d3b72;
  opacity: 0.9;
}
.btn-food-group {
  color: white;
  cursor: pointer;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.btn-container {
  display: flex;
  justify-content: center;
}

button {
  border-radius: 20%;
  margin-bottom: 25px;
}

.heart {
  font-size: 400px;
  color: red;
  display: flex;
  justify-content: center;
}

#movies-head {
  text-align: center;
}

#recipes-head {
  text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.section-body {
  padding: 20px 0;
}

footer {
  background-color: crimson;
  text-align: center;
}
